  body {
    font-family: Arial, sans-serif;
    background-color: #DCF2F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #7FC7D9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .task.checked label {
    text-decoration: line-through;
    color: #365486;
  }
  
  .task input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .add-task {
    display: flex;
  }
  
  .add-task input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
  }
  
  .add-task button {
    padding: 8px 16px;
    border: none;
    background-color: #0F1035;
    color: #fff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
  }
  